:local .errField {
  color: red;
  font-size: 13px;
  position: absolute;
  
}

:local .labelText {
  color: #9B9B9B;
  cursor: text;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  transform: translateY(-34px);
  transition: all 0.3s;
}

:local input:focus + :local.labelText {
  color: #F0F0F0;
  font-size: 13px;
  transform: translateY(-54px);
}

:local input:valid + :local.labelText {
  font-size: 13px;
  transform: translateY(-54px);     
}

:local .redLine {
  border-bottom: 2px solid rgba(255, 72, 72, 0.534);
}