:local .content {
  width: 100%;
  height: 100%;
  display: flex;
}

:local .leftSide, :local .rightSide {
  width: 50%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:local .leftSide {
  background-color: rgba(255, 0, 0, 0.13);
}

:local .rightSide {
  background-color: rgba(0, 128, 0, 0.116);
}